.todo-table {
  width: 100%;
  max-width: 79rem;

  tbody {
    border-top: 1px solid $primary;
    td {
      &.todo-item-status {
        text-align: center;
      }
      /* TD containg titles */
      &.todo-item-title {
        &.completed {
          text-decoration: line-through;
        }
      }
      /* TD containing the trash icon */
      &.todo-item-actions {
        text-align: center;
        width: fit-content;
      }
    }
  }
}
